<!doctype html>
<svg viewBox="71.335 96.859 383.508 92.277" width="383.508" height="92.277">
  <rect x="82.134" y="110.766" width="362.565" height="66.754" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.134" y1="160.504" x2="444.699" y2="161.158"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.788" y1="138.907" x2="444.699" y2="139.562"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="100" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, -10.509995, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="340" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="380" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="420" y="173.162">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 49.490006, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 109.490007, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 169.490008, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 229.490009, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 289.489995, -184.734317)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, -45.432008, -212.043521)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 54.567994, -212.043521)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 154.567995, -212.043521)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 254.567997, -212.043521)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150" y1="171.6" x2="175.065" y2="171.63"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="153" y="169.545">50 cm</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;" transform="matrix(1, 0, 0, 1, -543.24897, -65.62404)"><tspan x="790.249" y="214.823">1.25 m</tspan><tspan x="790.249" dy="1em">​</tspan></text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="237" y1="153.3" x2="281.086" y2="153.305"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="325" y1="129.1" x2="403.469" y2="129.09"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" transform="matrix(1, 0, 0, 1, 192.369021, -176.39371)"><tspan x="162.631" y="300.556">2 m</tspan><tspan x="162.631" dy="1em">​</tspan></text>
</svg>