<!doctype html>
<svg viewBox="96.292 75.957 258.971 180.024" width="258.971" height="180.024">
  <rect x="108.035" y="88.666" width="235" height="154.306" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="120.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="160.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140.598" y="208.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="120.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="160.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="120.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="240.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180.598" y="168.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180.598" y="128.971">X</text>
  <g>
    <g>
      <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140.598" y="128.971">X</text>
    </g>
  </g>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="240.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="240.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220.598" y="128.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220.598" y="168.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220.598" y="208.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="200.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="200.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="200.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="160.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="160.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="120.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="200.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140.598" y="168.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180.598" y="208.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="240.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="280.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="280.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260.598" y="168.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="280.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300.598" y="208.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="280.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260.598" y="128.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260.598" y="208.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="320.598" y="108.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="320.598" y="188.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="320.598" y="228.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300.598" y="128.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="320.598" y="148.971">X</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300.598" y="168.971">X</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="132.194" y1="221.387" x2="139.397" y2="209.382" data-bx-origin="-0.331944 -0.159911" transform="matrix(0.97437, 0.224951, -0.224951, 0.97437, 49.995683, -23.882071)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="147.887" y1="233.618" x2="155.09" y2="221.613" data-bx-origin="-0.331944 -0.159911" transform="matrix(0.275637, -0.961262, 0.961262, 0.275637, -105.790849, 298.997441)"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="310.108" y="342.853" transform="matrix(0.681998, -0.731354, 0.731354, 0.681998, -338.428411, 212.824619)">50 cm
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" transform="matrix(0.669131, 0.743145, -0.743145, 0.669131, 116.051058, -313.630071)" x="408.194" y="321.322">50 cm
</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150.419" y1="211.872" x2="150.419" y2="215.461"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150.419" y1="212.47" x2="155.322" y2="211.489" transform="matrix(0.913545, 0.406737, -0.406737, 0.913545, 99.436281, -43.851464)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="156.794" y1="219.237" x2="156.794" y2="222.826" transform="matrix(0.017452, -0.999848, 0.999848, 0.017452, -66.940217, 373.944189)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="159.094" y1="216.998" x2="159.094" y2="220.587" transform="matrix(0.99863, -0.052336, 0.052336, 0.99863, -11.232689, 8.62619)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="129" y1="221.186" x2="129" y2="217"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="139.055" y1="210.676" x2="134.768" y2="213.248" transform="matrix(0.945519, 0.325568, -0.325568, 0.945519, 76.46721, -33.026036)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="129.486" y1="221.453" x2="133.47" y2="221.091"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="139" y1="212" x2="139.658" y2="215.946"></line>
</svg>