<!doctype html>
<svg viewBox="94.896 47.121 121.727 407.067" width="121.727" height="407.067">
  <g transform="matrix(0, -1, 1, 0, 0.493926, 526.339119)">
    <g>
      <rect x="82.134" y="110.766" width="362.565" height="66.754" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
    </g>
    <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.134" y1="160.504" x2="444.699" y2="161.158"></line>
    <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.788" y1="138.907" x2="444.699" y2="139.562"></line>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="100" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, -10.509995, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;" x="162.631" y="383.671" transform="matrix(1, 0, 0, 1, 0, 0)"><tspan x="162.63099670410156" dy="1em">​</tspan></text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;" x="237.893" y="387.598" transform="matrix(1, 0, 0, 1, 0, 0)"><tspan x="237.89300537109375" dy="1em">​</tspan></text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;" x="311.846" y="389.562"> </text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="340" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="380" y="173.162">P
</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="420" y="173.162">P
</text>
    <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;" x="184.882" y="373.855" transform="matrix(1, 0, 0, 1, 0, 0)"><tspan x="184.8820037841797" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 49.490005, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 109.490005, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 169.490005, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 229.490005, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" transform="matrix(1, 0, 0, 1, 289.48999, -184.734314)"><tspan x="115.51" y="337.86">S</tspan><tspan x="115.51" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, -45.432007, -212.043518)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 54.567993, -212.043518)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 154.567993, -212.043518)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;" transform="matrix(1, 0, 0, 1, 254.567993, -212.043518)"><tspan x="155.432" y="341.787">T</tspan><tspan x="155.432" dy="1em">​</tspan></text>
    <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150" y1="171.6" x2="175.065" y2="171.63"></line>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="153" y="169.545">50 cm</text>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;" transform="matrix(1, 0, 0, 1, -543.248962, -65.624039)"><tspan x="790.249" y="214.823">1.25 m</tspan><tspan x="790.249" dy="1em">​</tspan></text>
    <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="237" y1="153.3" x2="281.086" y2="153.305"></line>
    <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="325" y1="129.1" x2="403.469" y2="129.09"></line>
    <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" transform="matrix(1, 0, 0, 1, 192.369019, -176.393707)"><tspan x="162.631" y="300.556">2 m</tspan><tspan x="162.631" dy="1em">​</tspan></text>
  </g>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" transform="matrix(0, -1, 1, 0, -117.064546, 570.96003)"><tspan x="282.668" y="320.808">Bloque central</tspan><tspan x="282.668" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" transform="matrix(1, 0, 0, 1, -264.254002, -203.870242)"><tspan x="376.254" y="273.687">Borde trasero</tspan><tspan x="376.254" dy="1em">​</tspan></text>
</svg>