<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    </head>

    <body>
        <section class="section has-background-success-light">
            {% if accion == "Todo" %}
                    <div class="content">
                        <h1 class="is-size-3 is-title has-text-centered">Jardines diseñados</h1>
                    </div>
                    <br>
                    <br>
                    <p class="has-text-centered">Hemos diseñado 7 jardines para ti, en base a tus especificaciones.</p>
                    <br>
                    <p class="has-text-centered">¡Chequéalos y revisa cuál es el que más te gusta!</p>

                    <br>
                    <br>
                    <div class="container">
                        <div class="columns">
                            <div class="column is-3">

                            </div>
                            <div class="column is-6">
                                <table class="table is-striped is-fullwidth">
                                    <thead>
                                        <tr>
                                            <th>N°</th>
                                            <th>Nombre</th>
                                            <th>Accion</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>"Jardin de menor consumo hídrico"</td>
                                            <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín de menor consumo hídrico', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>"Jardin más colorido"</td>
                                            <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas colorido', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>"Jardin más atractivo para polinizadores"</td>
                                            <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas atractivo para polinizadores', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>"Jardin para colibríes y otras aves"</td>
                                            <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín para colibries y otras aves', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>"Jardin de aromas"</td>
                                            <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín de aromas', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>"Jardin más fácil de mantener"</td>
                                            <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas facil de mantener', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>"Jardin bello en todas las épocas"</td>
                                            <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín bello en todas las epocas', ancho=ancho, largo=largo) }}">Ver</a></td>
                                        </tr>
                                    </tbody>
                                    
                                </table>
                            </div>
                            <div class="column is-3">

                            </div>
                        </div>
                    </div>    
            {% else %}
                <div class="content">
                    <h1 class="is-size-3 is-title has-text-centered">Espacios diseñados</h1>
                </div>
                <br>
                <br>
                <p class="has-text-centered">Hemos diseñado 7 espacios para ti, en base a tus especificaciones.</p>
                <br>
                <p class="has-text-centered">¡Chequéalos y revisa cuál es el que más te gusta!</p>

                <br>
                <br>
                <div class="container">
                    <div class="columns">
                        <div class="column is-3">

                        </div>

                        <div class="column is-6">
                            <table class="table is-striped is-fullwidth">
                                <thead>
                                    <tr>
                                        <th>N°</th>
                                        <th>Nombre</th>
                                        <th>Accion</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>"Espacio de menor consumo hídrico"</td>
                                        <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín de menor consumo hídrico', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>"Espacio más colorido"</td>
                                        <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas colorido', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td>"Espacio más atractivo para polinizadores"</td>
                                        <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas atractivo para polinizadores', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td>"Espacio para colibríes y otras aves"</td>
                                        <td><a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín para colibries y otras aves', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td>"Espacio de aromas"</td>
                                        <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín de aromas', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>"Espacio más fácil de mantener"</td>
                                        <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín mas facil de mantener', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                    <tr>
                                        <td>7</td>
                                        <td>"Espacio bello en todas las épocas"</td>
                                        <td> <a href="{{ url_for('distribute', agua=agua, luz=luz, material=material, hardiness=hardiness, accion=accion, nombre='Jardín bello en todas las epocas', ancho=ancho, largo=largo) }}">Ver</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="column is-3">

                        </div>
                    </div>
                </div>
            {% endif %}
        </section>
    </body>
</html>