<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  <section class="section has-background-success-light">

    <div class="content">
      <h1 class="is-size-3 is-title has-text-centered">{{ nombre }}</h1>
    </div>
  </section>

  <section class="section has-background-success-light">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-3">
          <p>Este jardin se compone de ...</p>
          <br>
          <p class="has-text-centered is-size-1">{{ largo_db }}</p>
          <br>
          <p class="has-text-right">especies de plantas distintas.</p>
        </div>
        <div class="column is-6 has-text-centered">
            <svg viewBox="35.885 56.818 397.129 226.077" width="397.129" height="226.077">
                <rect x="69.079" y="89.862" width="350" height="180" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);">
                </rect>
                <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="69.428" y1="139.504" x2="420.504" y2="140.102">
                </line>
                <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="121.5" y1="140" x2="121.5" y2="271"></line>
                <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="365" y1="140" x2="365" y2="271"></line>
                <rect x="157.945" y="172.996" width="168.062" height="96.89"
                  style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);">
                </rect>
                <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="175"
                  y="121.139" transform="matrix(0.699673, 0, 0, 0.655881, 72.557229, 42.694947)">Borde trasero</text>
                <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;"
                  x="345.744" y="111.992"> </text>
                <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;"
                  x="273.973" y="388.307" transform="matrix(0, 0.630762, -0.655231, 0, 642.477549, -9.811763)">Borde derecho</text>
                <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;"
                  x="283.543" y="104.815" transform="matrix(-0.000001, -0.612738, 0.637032, -0.000001, 31.421858, 425.439948)">Borde izquierdo</text>
                <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;"
                  x="178.279" y="245.963" transform="matrix(0.747946, 0, 0, 0.681868, 56.656926, 65.391976)">Bloque central</text>
                <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" x="215"
                  y="77.303">{{ ancho }} metros</text>
                <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" x="215"
                  y="210.167" transform="matrix(0, -1, 1, 0, -154.99956, 418.912238)">{{ largo }} metros</text>
            </svg>
            <br>
            <p style="font-size:70%;">*Nota: La representacion puede no estar a escala</p>
        </div> 
        <div class="column is-3">
          <p>Como se ve, el jardin podria dividirse en las siguientes 4 zonas:</p>
          <div class="content">
            <ul>
              <li>Borde izquierdo</li>
              <li>Borde derecho</li>
              <li>Borde trasero</li>
              <li>Bloque central</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </section>  

    <section class="section has-background-success-light">
      <br>
      <div class="content">
        <h1 class="is-size-4 is-title has-text-centered">Bloque central</h1>
      </div>
      <br>

      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 has-text-centered">
            <svg viewBox="96.292 75.957 258.971 180.024" width="258.971" height="180.024">
              <rect x="108.035" y="88.666" width="235" height="154.306" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);">
              </rect>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="120.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="160.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="140.598" y="208.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="120.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="160.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="120.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="240.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="180.598" y="168.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="180.598" y="128.971">X</text>
              <g>
                <g>
                  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                    x="140.598" y="128.971">X</text>
                </g>
              </g>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="240.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="240.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="220.598" y="128.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="220.598" y="168.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="220.598" y="208.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="200.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="200.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="200.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="160.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="160.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="120.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="200.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="140.598" y="168.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="180.598" y="208.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="240.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="280.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="280.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="260.598" y="168.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="280.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="300.598" y="208.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="280.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="260.598" y="128.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="260.598" y="208.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="320.598" y="108.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="320.598" y="188.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="320.598" y="228.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="300.598" y="128.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="320.598" y="148.971">X</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                x="300.598" y="168.971">X</text>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="132.194" y1="221.387" x2="139.397" y2="209.382"
                data-bx-origin="-0.331944 -0.159911"
                transform="matrix(0.97437, 0.224951, -0.224951, 0.97437, 49.995683, -23.882071)"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="147.887" y1="233.618" x2="155.09" y2="221.613"
                data-bx-origin="-0.331944 -0.159911"
                transform="matrix(0.275637, -0.961262, 0.961262, 0.275637, -105.790849, 298.997441)"></line>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="310.108"
                y="342.853" transform="matrix(0.681998, -0.731354, 0.731354, 0.681998, -338.428411, 212.824619)">50 cm
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;"
                transform="matrix(0.669131, 0.743145, -0.743145, 0.669131, 116.051058, -313.630071)" x="408.194" y="321.322">50 cm
              </text>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150.419" y1="211.872" x2="150.419" y2="215.461">
              </line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150.419" y1="212.47" x2="155.322" y2="211.489"
                transform="matrix(0.913545, 0.406737, -0.406737, 0.913545, 99.436281, -43.851464)"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="156.794" y1="219.237" x2="156.794" y2="222.826"
                transform="matrix(0.017452, -0.999848, 0.999848, 0.017452, -66.940217, 373.944189)"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="159.094" y1="216.998" x2="159.094" y2="220.587"
                transform="matrix(0.99863, -0.052336, 0.052336, 0.99863, -11.232689, 8.62619)"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="129" y1="221.186" x2="129" y2="217"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="139.055" y1="210.676" x2="134.768" y2="213.248"
                transform="matrix(0.945519, 0.325568, -0.325568, 0.945519, 76.46721, -33.026036)"></line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="129.486" y1="221.453" x2="133.47" y2="221.091">
              </line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="139" y1="212" x2="139.658" y2="215.946">
              </line>
            </svg>
            <br>
            <p>X - Planta del bloque central</p>
          </div>
          <div class="column is-7">
            <p>Este bloque central se compone exclusivamente de plantas de baja altura, que actuan como cubresuelos</p>
            <br>
            <div class="content">
              <ul>
                <li><b>Distancia entre plantas en el bloque:</b> 0.5 metros</li>
                <li><b>Cantidad de plantas según el tamaño:</b> {{ n_bloquecen }}</li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="columns">
          <div class="column is-3">

          </div>
          <div class="column is-6">
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Planta</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for planta in plantas1 %}
                <tr>
                  <td>{{ planta }}</td>
                  <td>{{ n_ind_bloquecen }}</td>
                  <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="column is-3">

          </div>
        </div>
      </div>
      <br>
    </section>

    <section class="section has-background-success-light">
      <br>
      <div class="content">
        <h1 class="is-size-4 is-title has-text-centered">Borde Trasero</h1>
      </div>
      <br>
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column is-5 has-text-centered">
            <svg viewBox="71.335 96.859 383.508 92.277" width="383.508" height="92.277">
              <rect x="82.134" y="110.766" width="362.565" height="66.754"
                style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);">
              </rect>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.134" y1="160.504" x2="444.699" y2="161.158">
              </line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.788" y1="138.907" x2="444.699" y2="139.562">
              </line>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="100"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, -10.509995, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="140"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="180"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="220"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="260"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="300"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="340"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="380"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="420"
                y="173.162">P
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 49.490006, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 109.490007, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 169.490008, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 229.490009, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 289.489995, -184.734317)">
                <tspan x="115.51" y="337.86">S</tspan>
                <tspan x="115.51" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                transform="matrix(1, 0, 0, 1, -45.432008, -212.043521)">
                <tspan x="155.432" y="341.787">T</tspan>
                <tspan x="155.432" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 54.567994, -212.043521)">
                <tspan x="155.432" y="341.787">T</tspan>
                <tspan x="155.432" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 154.567995, -212.043521)">
                <tspan x="155.432" y="341.787">T</tspan>
                <tspan x="155.432" dy="1em">​</tspan>
              </text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 254.567997, -212.043521)">
                <tspan x="155.432" y="341.787">T</tspan>
                <tspan x="155.432" dy="1em">​</tspan>
              </text>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150" y1="171.6" x2="175.065" y2="171.63">
              </line>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="153"
                y="169.545">50 cm</text>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, -543.24897, -65.62404)">
                <tspan x="790.249" y="214.823">1.25 m</tspan>
                <tspan x="790.249" dy="1em">​</tspan>
              </text>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="237" y1="153.3" x2="281.086" y2="153.305">
              </line>
              <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="325" y1="129.1" x2="403.469" y2="129.09">
              </line>
              <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                transform="matrix(1, 0, 0, 1, 192.369021, -176.39371)">
                <tspan x="162.631" y="300.556">2 m</tspan>
                <tspan x="162.631" dy="1em">​</tspan>
              </text>
            </svg>
            <br>
            <p>P - Planta primer nivel</p>
            <p>S - Planta segundo nivel</p>
            <p>T - Planta tercer nivel</p>
          </div>
          <div class="column is-7">
            <p>Como se ve, este borde tiene un diseño paisajístico de 3 niveles</p>
            <div class="content">
              <ul>
                <li><b>Plantas de primer nivel:</b> actuan como orillas y delimitadoras (distancia entre plantas - 0.5 m)</li>
                <li><b>Plantas de segundo nivel:</b> arbustos de media altura (distancia entre plantas - 1.25 m)</li>
                <li><b>Plantas de tercer nivel:</b> grandes árboles (distancia entre plantas - 2 m)</li>
              </ul>
            </div>
            <br>
            <p>Todas las plantas de este borde tienen necesidades hídricas similares entre sí</p>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="container">
        <div class="columns">
          <div class="column is-4">
            <p class="has-text-centered"><b>Plantas primer nivel</b></p>
            <br>
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Planta</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for planta in plantas11 %}
                <tr>
                  <td>{{ planta }}</td>
                  <td>{{ n_ind_plantas11 }}</td>
                  <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          <div class="column is-4">
            <p class="has-text-centered"><b>Plantas segundo nivel</b></p>
            <br>
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Planta</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for planta in plantas21 %}
                <tr>
                  <td>{{ planta }}</td>
                  <td>{{ n_ind_plantas21 }}</td>
                  <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          
          <div class="column is-4">
            <p class="has-text-centered"><b>Plantas tercer nivel</b></p>
            <br>
            <table class="table is-striped is-fullwidth">
              <thead>
                <tr>
                  <th>Planta</th>
                  <th>Cantidad</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                {% for planta in plantas31 %}
                <tr>
                  <td>{{ planta }}</td>
                  <td>{{ n_ind_plantas31 }}</td>
                  <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
    </section>

    <section class="section has-background-success-light">
        <div class="content">
        <h3 class="is-size-4 is-title has-text-centered">Borde izquierdo</h3>
        </div>
        <br>

        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-2 has-text-centered">
                    <svg viewBox="94.896 47.121 121.727 407.067" width="121.727" height="407.067">
                        <g transform="matrix(0, -1, 1, 0, 0.493926, 526.339119)">
                        <g>
                            <rect x="82.134" y="110.766" width="362.565" height="66.754"
                            style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
                        </g>
                        <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.134" y1="160.504" x2="444.699"
                            y2="161.158">
                        </line>
                        <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.788" y1="138.907" x2="444.699"
                            y2="139.562">
                        </line>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="100" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -10.509995, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="162.631" y="383.671" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="162.63099670410156" dy="1em">​</tspan>
                        </text>
                        <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="237.893" y="387.598" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="237.89300537109375" dy="1em">​</tspan>
                        </text>
                        <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="311.846" y="389.562"> </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="140" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="180" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="220" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="260" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="300" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="340" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="380" y="173.162">P
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="420" y="173.162">P
                        </text>
                        <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="184.882" y="373.855" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="184.8820037841797" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 49.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 109.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 169.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 229.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 289.48999, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -45.432007, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 54.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 154.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 254.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                        </text>
                        <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150" y1="171.6" x2="175.065"
                            y2="171.63">
                        </line>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;"
                            x="153" y="169.545">50 cm</text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -543.248962, -65.624039)">
                            <tspan x="790.249" y="214.823">1.25 m</tspan>
                            <tspan x="790.249" dy="1em">​</tspan>
                        </text>
                        <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="237" y1="153.3" x2="281.086"
                            y2="153.305">
                        </line>
                        <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="325" y1="129.1" x2="403.469"
                            y2="129.09">
                        </line>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 192.369019, -176.393707)">
                            <tspan x="162.631" y="300.556">2 m</tspan>
                            <tspan x="162.631" dy="1em">​</tspan>
                        </text>
                        </g>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;"
                        transform="matrix(0, -1, 1, 0, -117.064546, 570.96003)">
                        <tspan x="282.668" y="320.808">Bloque central</tspan>
                        <tspan x="282.668" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;"
                        transform="matrix(1, 0, 0, 1, -264.254002, -203.870242)">
                        <tspan x="376.254" y="273.687">Borde trasero</tspan>
                        <tspan x="376.254" dy="1em">​</tspan>
                        </text>
                    </svg>
                </div>
                <div class="column is-3">
                    <p>P - Planta primer nivel</p>
                    <p>S - Planta segundo nivel</p>
                    <p>T - Planta tercer nivel</p>
                </div>
                <div class="column is-7">
                    <p>Como se ve, este borde también tiene un diseño paisajístico de 3 niveles</p>
                    <div class="content">
                        <ul>
                            <li><b>Plantas de primer nivel:</b> actuan como orillas y delimitadoras (distancia entre plantas - 0.5 m)</li>
                            <li><b>Plantas de segundo nivel:</b> arbustos de media altura (distancia entre plantas - 1.25 m)</li>
                            <li><b>Plantas de tercer nivel:</b> grandes árboles (distancia entre plantas - 2 m)</li>
                        </ul>
                    </div>
                    <br>
                    <p>Todas las plantas de este borde tienen necesidades hídricas similares entre sí</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas primer nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas12 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas12 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas segundo nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas22 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas22 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas tercer nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas32 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas32 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </section>

    <section class="section has-background-success-light">
        <div class="content">
        <h3 class="is-size-4 is-title has-text-centered">Borde derecho</h3>
        </div>
        <br>

        <div class="container">
            <div class="columns is-vcentered">
                <div class="column is-3 has-text-centered">
                    <p>P - Planta primer nivel</p>
                    <p>S - Planta segundo nivel</p>
                    <p>T - Planta tercer nivel</p>
                </div>
                <div class="column is-2 has-text-centered">
                    <svg viewBox="309.555 30.105 121.728 407.067" width="121.728" height="407.067">
                        <g transform="matrix(0, 1, -1, 0, 526.339119, -22.134001)">
                          <g>
                            <rect x="82.134" y="110.766" width="362.565" height="66.754"
                              style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
                          </g>
                          <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.134" y1="160.504" x2="444.699"
                            y2="161.158">
                          </line>
                          <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="82.788" y1="138.907" x2="444.699"
                            y2="139.562">
                          </line>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="100" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -10.509995, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="162.631" y="383.671" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="162.63099670410156" dy="1em">​</tspan>
                          </text>
                          <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="237.893" y="387.598" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="237.89300537109375" dy="1em">​</tspan>
                          </text>
                          <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="311.846" y="389.562"> </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="140" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="180" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="220" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="260" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="300" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="340" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="380" y="173.162">P
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            x="420" y="173.162">P
                          </text>
                          <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 22.9px;"
                            x="184.882" y="373.855" transform="matrix(1, 0, 0, 1, 0, 0)">
                            <tspan x="184.8820037841797" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 49.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 109.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 169.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 229.490005, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 289.48999, -184.734314)">
                            <tspan x="115.51" y="337.86">S</tspan>
                            <tspan x="115.51" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -45.432007, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 54.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 154.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                          </text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 254.567993, -212.043518)">
                            <tspan x="155.432" y="341.787">T</tspan>
                            <tspan x="155.432" dy="1em">​</tspan>
                          </text>
                          <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="150" y1="171.6" x2="175.065"
                            y2="171.63">
                          </line>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;"
                            x="153" y="169.545">50 cm</text>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, -543.248962, -65.624039)">
                            <tspan x="790.249" y="214.823">1.25 m</tspan>
                            <tspan x="790.249" dy="1em">​</tspan>
                          </text>
                          <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="237" y1="153.3" x2="281.086"
                            y2="153.305">
                          </line>
                          <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="325" y1="129.1" x2="403.469"
                            y2="129.09">
                          </line>
                          <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;"
                            transform="matrix(1, 0, 0, 1, 192.369019, -176.393707)">
                            <tspan x="162.631" y="300.556">2 m</tspan>
                            <tspan x="162.631" dy="1em">​</tspan>
                          </text>
                        </g>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;"
                          transform="matrix(0, 1, -1, 0, 643.897593, -66.754914)">
                          <tspan x="282.668" y="320.808">Bloque central</tspan>
                          <tspan x="282.668" dy="1em">​</tspan>
                        </text>
                        <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;"
                          transform="matrix(1, 0, 0, 1, -28.463618, -223.870243)">
                          <tspan x="376.254" y="273.687">Borde trasero</tspan>
                          <tspan x="376.254" dy="1em">​</tspan>
                        </text>
                    </svg>
                </div>
                <div class="column is-7">
                    <p>Como se ve, este borde también tiene un diseño paisajístico de 3 niveles</p>
                    <div class="content">
                        <ul>
                            <li><b>Plantas de primer nivel:</b> actuan como orillas y delimitadoras (distancia entre plantas - 0.5 m)</li>
                            <li><b>Plantas de segundo nivel:</b> arbustos de media altura (distancia entre plantas - 1.25 m)</li>
                            <li><b>Plantas de tercer nivel:</b> grandes árboles (distancia entre plantas - 2 m)</li>
                        </ul>
                    </div>
                    <br>
                    <p>Todas las plantas de este borde tienen necesidades hídricas similares entre sí</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <div class="container">
            <div class="columns">
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas primer nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas13 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas13 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas segundo nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas23 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas23 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="column is-4">
                    <p class="has-text-centered"><b>Plantas tercer nivel</b></p>
                    <br>
                    <table class="table is-striped is-fullwidth">
                        <thead>
                            <tr>
                                <th>Planta</th>
                                <th>Cantidad</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for planta in plantas33 %}
                                <tr>
                                    <td>{{ planta }}</td>
                                    <td>{{ n_ind_plantas33 }}</td>
                                    <td><a href="{{ url_for('plant_info', nombre=planta) }}">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <br>
    </section>

    <section class="section has-background-success-light">
        <div class="content">
            <p class="has-text-centered">¡Eso es todo! Ojalá puedas disfrutar de este hermoso jardín.</p>
        </div>
    </section>
</body>

</html>