<!doctype html>
<svg viewBox="44.242 70.179 354.344 197.797" width="354.344" height="197.797">
  <rect x="76.422" y="100.046" width="310.1" height="154.904" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <rect x="97.953" y="122.176" width="267" height="112.44" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="83" y="151.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="140" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="171" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="371" y="213.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="324" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="233" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="295" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="83" y="182.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="202" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="233" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="371" y="120.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="371" y="182.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="371" y="151.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="202" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="264" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="295" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="324" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="83" y="120.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="109" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="371" y="244.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="83" y="244.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="83" y="213.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="264" y="115.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="171" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="140" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="109" y="249.766">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="193.598" y="184.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="223.598" y="215.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="163.598" y="152.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="163.598" y="215.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="253.598" y="184.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="223.598" y="152.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="133.598" y="184.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="108.598" y="215.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="108.598" y="152.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="283.598" y="215.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="313.598" y="184.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="283.598" y="152.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="343.598" y="152.354">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="343.613" y="215.374">A</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="352" y="249.78">D</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 12px; white-space: pre;" x="352" y="115.78">D</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="174.368" y1="202.824" x2="190.795" y2="187.424"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="208" y1="187.4" x2="224.35" y2="202.858"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;" x="163" y="191.187" transform="matrix(0.719339, -0.694659, 0.694659, 0.719339, -80.366243, 174.591784)">1,25 m</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 8px; white-space: pre;" x="212" y="185.187" transform="matrix(0.71934, 0.694658, -0.694658, 0.71934, 187.211352, -98.310159)">1,25 m</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="273" y1="249.5" x2="293.464" y2="249.539"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 6px; white-space: pre;" x="275" y="246.647">50 cm</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 6px; white-space: pre;" x="151" y="112.647">50 cm</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="149.3" y1="116" x2="170.8" y2="116"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="214" y="88.427">8 m</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="204.142" y="315.76" transform="matrix(0, -1, 1, 0, -251.386356, 393.811834)">5 m</text>
</svg>