<!doctype html>
<svg viewBox="19.737 56.22 365.43 174.641" width="365.43" height="174.641">
  <rect x="92.725" y="131.831" width="317.912" height="125.389" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></rect>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="92.725" y1="235.027" x2="411.192" y2="235.027" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="92.7" y1="190" x2="411.2" y2="191" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="103" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="133" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="310" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="339" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="192" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="280" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="251" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="163" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="222" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="368" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 10px; white-space: pre;" x="396" y="249.877" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">P
</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="110" y1="248.9" x2="131.008" y2="248.898" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 7px; white-space: pre;" x="112" y="246.103" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">50 cm</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="117" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="167" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="217" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="317" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="267" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="367" y="219.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">S
</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="281" y1="218" x2="313" y2="218" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 9px; white-space: pre;" transform="matrix(1, 0, 0, 1, 97.132623, -180.715777)"><tspan x="148.207" y="352.094">1,25 m</tspan><tspan x="148.207" dy="1em">​</tspan></text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 18px; white-space: pre;" x="127" y="169.09" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">T</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 18px; white-space: pre;" x="202" y="169.09" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">T</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 18px; white-space: pre;" x="277" y="169.09" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">T</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 18px; white-space: pre;" x="352" y="169.09" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">T</text>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="142" y1="169" x2="196" y2="169" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)"></line>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 13px; white-space: pre;" x="158" y="163.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">2 m</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="232" y="119.425" transform="matrix(1, 0, 0, 1, -38.660367, -40.944043)">8 m</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 16px; white-space: pre;" x="167.071" y="323.799" transform="matrix(0, -1, 1, 0, -282.034092, 339.793004)">5 m</text>
</svg>