<!doctype html>
<svg viewBox="35.885 56.818 397.129 226.077" width="397.129" height="226.077">
  <rect x="69.079" y="89.862" width="350" height="180" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="69.428" y1="139.504" x2="420.504" y2="140.102"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="121.5" y1="140" x2="121.5" y2="271"></line>
  <line style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);" x1="365" y1="140" x2="365" y2="271"></line>
  <rect x="157.945" y="172.996" width="168.062" height="96.89" style="fill: rgb(216, 216, 216); stroke: rgb(0, 0, 0);"></rect>
  <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="175" y="121.139" transform="matrix(0.699673, 0, 0, 0.655881, 72.557229, 42.694947)">Segundo borde</text>
  <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="345.744" y="111.992"> </text>
  <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="273.973" y="388.307" transform="matrix(0, 0.630762, -0.655231, 0, 642.477549, -9.811763)">Borde derecho</text>
  <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="283.543" y="104.815" transform="matrix(-0.000001, -0.612738, 0.637032, -0.000001, 31.421858, 425.439948)">Borde izquierdo</text>
  <text style="white-space: pre; fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 20.9px;" x="178.279" y="245.963" transform="matrix(0.747946, 0, 0, 0.681868, 56.656926, 65.391976)">Bloque central</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" x="215" y="77.303">15 metros</text>
  <text style="fill: rgb(51, 51, 51); font-family: Arial, sans-serif; font-size: 11px; white-space: pre;" x="215" y="210.167" transform="matrix(0, -1, 1, 0, -154.99956, 418.912238)">10 metros</text>
</svg>