<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="section has-background-success-light">
        <div class="container">
            <div class="box">
                <h1 class="title is-1 has-text-centered is-spaced">{{ nombre }}</h1>
            </div>

            <table class="table is-fullwidth is-hoverable">
                <tr>
                    <td>
                        <p><b>Nombre científico: </b></p>
                    </td>
                    <td>
                        <p>{{ latin }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Nativo de: </b></p>
                    </td>
                    <td>
                        <p>{{ nativo }}</p>
                    </td>
                </tr>
                <tr>
                </tr>
                <td>
                    <p><b>Tipo de material vegetal: </b></p>
                </td>
                <td>
                    <p>{{ material }}</p>
                </td>
                <tr>
                    <td>
                        <p><b>Follaje: </b></p>
                    </td>
                    <td>
                        <p>{{ follaje }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Agua requerida: </b></p>
                    </td>
                    <td>
                        <p>{{ agua }}</p>
                    </td>
                </tr>
                <tr>
                    {% if luz == "Poca" %}
                    <td>
                        <p><b>Prefiere: </b></p>
                    </td>
                    <td>
                        <p>Sombra o semisombra</p>
                    </td>
                    {% elif luz == "Media" %}
                    <td>
                        <p><b>Prefiere: </b></p>
                    </td>
                    <td>
                        <p>Sol o semisombra</p>
                    </td>
                    {% else %}
                    <td>
                        <p><b>Prefiere: </b></p>
                    </td>
                    <td>
                        <p>Sol o pleno sol</p>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <p><b>Radio máximo (en metros): </b></p>
                    <td>
                        <p>{{ radio }}</p>
                </tr>
                <tr>
                    <td>
                        <p><b>Altura máxima (en metros): </b></p>
                    </td>
                    <td>
                        <p>{{ altura }}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Zonas de resistencia al frío (Hardiness Zones): </b></p>
                    </td>
                    <td>
                        <p>{{ hardiness }} - Zona 11A</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p><b>Época óptima para plantar: </b></p>
                    </td>
                    <td>
                        <p>{{ siembra }}</p>
                    </td>
                </tr>
                <tr>
                    {% if floracion != "No aplica" %}
                    <td>
                        <p><b>Época de floración: </b></p>
                    </td>
                    <td>
                        <p>{{ floracion }}</p>
                    </td>
                    {% else %}
                    <td>
                        <p><b>Época de floración: </b></p>
                    </td>
                    <td>
                        <p>No presenta floración</p>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    {% if poda != "No aplica" %}
                    <td>
                        <p><b>Época recomendada para podar: </b></p>
                    </td>
                    <td>
                        <p>{{ poda }}</p>
                    </td>
                    {% else %}
                    <td>
                        <p><b>Época recomendada para podar: </b></p>
                    </td>
                    <td>
                        <p>Planta no requiere podas</p>
                    </td>
                    {% endif %}
                </tr>
                <tr>
                    <td>
                        <p><b>Descripción: </b></p>
                    </td>
                    <td>
                        <p>{{ descripcion }}</p>
                    </td>
                </tr>
            </table>
        </div>
    </section>
</body>

</html>